# Ignore Python virtual environments
api/venv/
oracle*/venv/

# Ignore npm modules
client/node_modules/
server/node_modules/
api/local_all*/

# Ignore Python cache and logs
__pycache__/
*.pyc
*.pyo
*.log

# Ignore environment files

# Ignore OS and editor files
.DS_Store
.vscode/
.idea/
*.swp
*.bak

